# **E-commerce Business Sales Analysis**
**Outline**
This notebook was created in DataLore and provides a sales analysis for an e-commerce business using Python 

The dataset was originally posted on Kaggle and contains almost 540,000 sales records and 9 columns, including a **product description, quanitity of items sold, unit price, date of sale and country.**

The business questions answered in this notebook include:

1) What are the **sales figures for each country**?

2) What is the **overall sales trend**?

3) How many **new customers are there each month**?

4) When do customers make the **most purchases**?

5) Which is the **best selling product in each country**?

6) When were the **largest orders** made?

7) Which **customers** made the **largest orders**?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

print(__version__)

4.14.3

In [2]:
import cufflinks as cf
init_notebook_mode(connected=True)
cf.go_offline()

In [3]:
import_ecom = pd.read_excel(r"C:\Users\Lenovo C340\EcomData.xlsx")

In [4]:
ecom_df = pd.DataFrame(import_ecom)

In [5]:
ecom_df["Date"]= pd.DatetimeIndex(ecom_df["InvoiceDate"]).month
ecom_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom,1
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,United Kingdom,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,1
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-09-12 12:50:00,0.85,12680.0,France,9
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-09-12 12:50:00,2.10,12680.0,France,9
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-09-12 12:50:00,4.15,12680.0,France,9
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-09-12 12:50:00,4.15,12680.0,France,9
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-09-12 12:50:00,4.95,12680.0,France,9

In [6]:
ecom_df["Spend"] = ecom_df["Quantity"]*ecom_df["UnitPrice"]

In [7]:
ecom_df0 = ecom_df.drop("Description",axis=1)

In [8]:
ecom_df0=ecom_df0.drop("CustomerID",axis=1)
ecom_df0=ecom_df0.drop("UnitPrice",axis=1)
ecom_df0=ecom_df0.drop("Quantity",axis=1)
ecom_df0=ecom_df0.drop("InvoiceNo",axis=1)
ecom_df0=ecom_df0.drop("InvoiceDate",axis=1)
ecom_df0=ecom_df0.drop("StockCode",axis=1)
ecom_df0

               Country  Date  Spend
0       United Kingdom     1  15.30
1       United Kingdom     1  20.34
2       United Kingdom     1  22.00
3       United Kingdom     1  20.34
4       United Kingdom     1  20.34
...                ...   ...    ...
541904          France     9  10.20
541905          France     9  12.60
541906          France     9  16.60
541907          France     9  16.60
541908          France     9  14.85

[541909 rows x 3 columns]

In [9]:
from opencage.geocoder import OpenCageGeocode
from pprint import pprint
key = '9368dceea00540deb212225f3bb00d26'
geocoder = OpenCageGeocode(key)

# latitudes = []
longitudes = []
for i in (ecom_df0["Country"]): 
    result = geocoder.geocode(i, no_annotations="1")  
    
    if result and len(result):  
        longitude = result[0]["geometry"]["lng"]  
        latitude = result[0]["geometry"]["lat"] 
    else:  
        longitude = "N/A"  
        latitude = "N/A"  
    
    latitudes.append(latitude) 
    longitudes.append(longitude)

# ecom_df0["Latitude"] = latitudes
ecom_df0["Longitude"] = longitudes
ecom_df0

# from mpl_toolkits_basemap import Basemap
lat = ecom_df0["Latitude"]
lon = ecom_df0["Longitude"]
population = ecom_df0["Date"]
area = ecom_df0["Spend"]

# 1. Draw the map background
fig = plt.figure(figsize=(8, 8))
m = Basemap(projection='lcc', resolution='h', 
            width=1E6, height=1.2E6)
m.shadedrelief()
m.drawcoastlines(color='gray')
m.drawcountries(color='gray')
m.drawstates(color='gray')

# 2. scatter city data, with color reflecting population
# and size reflecting area
m.scatter(lon, lat, latlon=True,
          c=np.log10(population), s=area,
          cmap='Reds', alpha=0.5)